.slide-image-panel {
  width: 49%;
  height: 100%;
}
.panel-image-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
.presentation-image-caption {
  position: absolute;
  bottom: 0;
  margin: 0;
  background-color: #ffffff5c;
  padding: 0.25em;
  font-style: italic;
}
