.slide-image-panel {
  margin-right: 1em;
}
.panel-image-container {
  position: relative;
}
.panel-image {
  max-height: 65vh;
  max-width: 41vw;
}
.presentation-image-caption {
  position: absolute;
  bottom: 0;
  margin: 0;
  background-color: #ffffff5c;
  padding: 0.25em;
  font-style: italic;
}
