.menu {
  position: fixed;
  top: 0;
  left: 0;
}
.hamburger-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  position: fixed;
  right: 3.5vw;
  top: 2vw;
  font-size: 2em;
  cursor: pointer;
  z-index: 20;
}
.menu-container {
  color: rgb(0, 38, 255);
  padding: 5vw;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fffffff0;
  z-index: 10;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.9em;
}
.menu-item {
  display: inline-block;
  max-width: 40vw;
  color: rgb(0, 38, 255);
  padding: 0.25em;
  margin: 0.25em;
}
.about-theme {
  position: fixed;
  bottom: 1em;
  width: 100%;
  text-align: center;
}
