section.slide-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation-cover,
.presentation-slide {
  width: 100%;
  height: 100%;
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.slide-content {
  height: 70%;
  width: 100%;
  display: flex;
  overflow: hidden;
}
.slide-footer {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}
.image-content,
.two-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.presentation-image,
.two-content > div {
  max-width: 49%;
}
.slide-content-panel {
  width: 49%;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  border: solid 1px gray;
  border-radius: 0.25rem !important;
  background-color: #fff !important;
  padding: 0.5rem !important;
}
.slide-image-panel {
  border: solid 1px gray;
  border-radius: 0.25rem !important;
}
.one-content.slide-content-panel {
  width: 100%;
}
.prev-next {
  font-size: 1.2em;
  cursor: pointer;
  color: #0d6efd;
}
.prev-next:hover {
  color: #0d6efd;
}
