<head>
  <title>
    {{ .Site.Title }}{{ if and (not .IsHome) .Title }} - {{ .Title }} {{ end }}
  </title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&family=Noto+Serif&display=swap"
    rel="stylesheet"
  />

  {{ $styles := resources.Get "scss/main.sass" | toCSS | minify | fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $styles.Permalink }}"
    integrity="{{ $styles.Data.Integrity }}"
  />

  <script>
    document.addEventListener("DOMContentLoaded", () => currentPage());
    window.addEventListener("hashchange", () => currentPage());

    let currSlideNum = 1;
    const goTo = (id) => {
      //currSlide = `slide-${currSlideNum}`;
      newSlide = `#slide-${id}`;
      // window.location.hash = newSlide;
      history.replaceState(null, null, newSlide);
      makeVisible(id);
      //document.querySelector(`#${currSlide}`).style.display = "none";
      //document.querySelector(`#${newSlide}`).style.display = "flex";
      //currSlideNum = id;
      //hideMenu();
    };

    const makeVisible = (id) => {
      currSlide = `slide-${currSlideNum}`;
      newSlide = `slide-${id}`;
      // window.location.hash = newSlide;
      document.querySelector(`#${currSlide}`).style.display = "none";
      document.querySelector(`#${newSlide}`).style.display = "flex";
      currSlideNum = id;
      hideMenu();
    };

    const currentPage = () => {
      let initialSlideNum = window.location.hash.split("-")[1];
      let initialSlide = document.querySelector(`#slide-${initialSlideNum}`);
      if (initialSlide) {
        makeVisible(initialSlideNum);
      }
    };
  </script>
</head>
