<head>
  <title>
    {{ .Site.Title }}{{ if and (not .IsHome) .Title }} - {{ .Title }} {{ end }}
  </title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&family=Ubuntu+Mono&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{{ `/css/main.css` | relURL }}" />
  <link rel="stylesheet" href="{{ `/css/menu.css` | relURL }}" />
  <link rel="stylesheet" href="{{ `/css/image-panel.css` | relURL }}" />
  <link rel="stylesheet" href="{{ `/css/slide.css` | relURL }}" />

  <script>
    const goTo = (id) => {
      document.querySelector(`#slide-${id}`).scrollIntoView({
        behavior: "smooth",
      });
    };
  </script>
</head>
