{{ define "main" }}
{{ $dat := .Site.Params.titleSlide }}
<section id="slide-1" class="slide-container">
  <div
    class="presentation-cover text-center"
  >
    <div class="presentation-title">
      <h1>{{ $dat.title | markdownify }}</h1>
      <h2>{{ $dat.subtitle | markdownify }}</h2>
    </div>
    <span>&mdash;</span>
    <div class="presentation-metadata">
      <h3>{{ $dat.author | markdownify }}</h3>
      <h4>{{ $dat.date }}</h4>
    </div>
  </div>
</section>
{{ if $dat.next }}
{{ partial "presentation" (dict "name" $dat.next "num" 2 "all" .) }}
{{ end }}
{{ end }}
