{{ define "main" }}
{{ $dat := .Site.Params.titleSlide }}
<section id="slide-1" class="slide-container" style="display: flex;">
  <div
    class="presentation-cover text-center"
  >
    <div class="presentation-title">
      <h1>{{ $dat.title | markdownify }}</h1>
      <h2>{{ $dat.subtitle | markdownify }}</h2>
    </div>
    <span>&mdash;</span>
    <footer class="presentation-metadata">
      <h3>{{ .Site.Params.author | markdownify }}</h3>
      <h4>{{ .Site.Params.date }}</h4>
      {{ if $dat.next }}
      <div>
      <span class="prev-next" onclick="goTo(2)">
        <i class="bi bi-arrow-down-square-fill"></i>
      </span>
    </div>
      {{ end }}
    </footer>
  </div>
</section>
{{ if $dat.next }}
{{ partial "presentation" (dict "name" $dat.next "num" 2 "all" . "prev" (slice $dat.next)) }}
{{ end }}
{{ end }}
